html{
  height: 100%;
}

body{
  height: 100%;
  margin:0 auto;
  font-size:12px;
  background: linear-gradient(hsl(273, 75%, 66%) 30%, hsl(240, 73%, 65%)100%);
  font-family: 'Kumbh Sans', sans-serif;
}

.woman-ilustration{
  width:268px;
  height:180px;
  background-image: url("images/illustration-woman-online-mobile.svg");
  background-repeat: no-repeat;
  position: relative;
  bottom:205px;
  left: 20px;
}

.pattern-box{
  position: relative;
  top:120px;
  left:30px;
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
}

.text-background{
  background-color:#fff;
  padding:100px 25px 35px 25px;
  position: relative;
  top:150px;
  border-radius: 35px;
  height:600px;
  color:hsl(237, 12%, 33%);
}

.heading{
  text-align: center;
  position: relative;
  bottom:150px;
}

.faq-questions{
  position: relative;
  bottom:150px;

}

.faq-answers{
  position: relative;
  bottom:150px;
  visibility: hidden;

}

 .icon-arrow{
  position: relative;
  bottom:125px;
  left:320px;
  width:10px;
  height: 15px;
}

.horizontal-line{
  position: relative;
  bottom:140px;
  color:hsl(240, 5%, 91%);
  border:none;
  height: 1px;
  background-color: hsl(240, 5%, 91%);
}

.toggleElement{
  visibility: visible;
}

.bold{
  font-weight:bold;
}

.changePosition{
  position: relative;
  bottom:90px;
}

@media (min-width:375px){
  html{
    height: 100%;
  }

  body{
    max-height: 100%;
    margin:0 auto;
    font-size:12px;
    background: linear-gradient(hsl(273, 75%, 66%) 30%, hsl(240, 73%, 65%)50%);
    font-family: 'Kumbh Sans', sans-serif;
    overflow:hidden;

  }

.woman-ilustration{
    width:500px;
    height:360px;
    background-image: url("images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    position: absolute;
    top:100px;
    left:-85px;
    overflow: hidden;


}

  .pattern-box{
    position: absolute;
    top:-250px;
    left:-550px;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    width:1000px;
    height:1000px;
    z-index:0;

}


.box-desktop{
  background-image: url("images/illustration-box-desktop.svg");
  background-repeat: no-repeat;
  width:200px;
  height: 200px;
  position: absolute;
  top:382px;
  left:203px;
  z-index:2;


}

  .text-background{
    background-color:#fff;
    padding:100px 25px 35px 25px;
    position: relative;
    top:150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    max-height:450px;
    width: 1200px;
    color:hsl(237, 12%, 33%);
    overflow: hidden;


}

  .heading{
    text-align: center;
    position: relative;
    bottom:60px;
    left:80px;
    font-weight: 900;
}

  .faq-questions{
    position: relative;
    bottom:50px;
    left:650px;
    display:inline-block;
}
  .faq-answers{
    position: relative;
    bottom:50px;
    left:650px;
}

  .icon-arrow{
    position: relative;
    bottom:40px;
    left:1000px;
}

 .horizontal-line{
    position: relative;
    bottom:50px;
    left:225px;
    color:hsl(240, 5%, 91%);
    border:none;
    height: 1px;
    background-color: hsl(240, 5%, 91%);
    width:30%;

  }

  .faq-questions:hover{
    color:hsl(14, 88%, 65%);
  }

}
